[Unit]
Description=Couchdb service
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=couchdb
ExecStart=/usr/local/lib/couchdb/bin/couchdb -o /dev/stdout -e /dev/stderr
WorkingDirectory=/usr/local/lib/couchdb
Restart=always
